{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
    <div class="content">
        <h1>Student Kanban</h1>
        <table>
            <tr>
                <th>Zadanie</th>
                <th>Dodano</th>
                <th>Akcje</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="">Usuń</a>
                        <br>
                        <a href="">Edytuj</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="form">
            <from action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Dodaj zadanie">
            </from>
        </div>
    </div>
{% endblock %}